### Tuple Practice Questions

In [1]:
# 1. Create a tuple with 4 integers and print it.

In [4]:
nums = (1,2,3,4)
print("tuple :-", nums)
type(nums)

tuple :- (1, 2, 3, 4)

tuple

In [5]:
# 2. Create a tuple with different data types (int, float, string).

In [7]:
t = 1,2,3,'Jhon','Andrew',7.5,10.6

print("Tuple :-", t)
type(t)

Tuple :- (1, 2, 3, 'Jhon', 'Andrew', 7.5, 10.6)

tuple

In [8]:
# 3. Given t = (10, 20, 30, 40), print the first element.

In [10]:
t = (10,20,30,40)
print("First element :-",t[0])
type(t)

10

tuple

In [11]:
# 4. Print the last element of the tuple t = (5, 15, 25, 35).

In [13]:
t = (5,15,25,35)
print("Last element :-",t[-1])
type(t)

Last element :- 35

tuple

In [14]:
# 5. Find the length of a tuple t = (1, 2, 3, 4, 5).

In [16]:
t = (1,2,3,4,5)
print("Length of tuple:-",len(t))

Length of tuple:- 5

In [18]:
# 6. Print all elements of a tuple using a for loop.

In [19]:
t = (10,20,30,40,50,60,70,80)
for i in t:
    print(i)

10
20
30
40
50
60
70
80

In [20]:
# 7. Print all elements using a while loop.

In [25]:
t = (10,20,30,40,50,60,70,80,90)

i = 0
while i < len(t):
    print(t[i])
    i = i+1

10
20
30
40
50
60
70
80
90

In [26]:
# 8. Access the third element using index in t = (11, 22, 33, 44).

In [27]:
t = (11,22,33,44)
print(t[2])

33

In [28]:
# 9. Use negative indexing to print the second last element.

In [29]:
t = (10,20,30,40,50,60,70,80,90)
print(t[-2])

80

In [30]:
# 10. Check if value 50 exists in (10, 20, 30, 40, 50).

In [33]:
t = (10,20,30,40,50)
if 50 in t:
    print("50 exists in this tuple")
else:
    print("50 Not exists in the tuple")

50 exists in this tuple

In [ ]:
# 11. Slice the tuple (10, 20, 30, 40, 50, 60) to print elements from index 1 to 4.

In [36]:
t = (10,20,30,40,50,60)
print(t[1:5])

(20, 30, 40, 50)

In [37]:
# 12. Print every second element using slicing.

In [38]:
t = (10,20,30,40,50,60,70,80,90,100)
print(t[::2])

(10, 30, 50, 70, 90)

In [39]:
# 13. Reverse the tuple using slicing

In [40]:
t = (10,20,30,40,50,60,70,80,90)
print(t[::-1])

(90, 80, 70, 60, 50, 40, 30, 20, 10)

In [41]:
# 14. Count how many times 2 appears in (1, 2, 3, 2, 4, 2, 5).

In [42]:
t =(1,2,3,2,4,2,5)
print(t.count(2))

3

In [43]:
# 15. Find the maximum number in (5, 8, 2, 10, 3).

In [45]:
t = (5,8,2,10,3)
print(max(t))

10

In [46]:
# 16. Find the minimum number in (5, 8, 2, 10, 3).

In [47]:
t = (5,8,2,10,3)
print(min(t))

2

In [48]:
# 17. Convert a tuple (1, 2, 3, 4) into a list.

In [50]:
t = (1,2,3,4)
lst = list(t)
print(lst)

[1, 2, 3, 4]

In [51]:
# 18. Convert a list [10, 20, 30] into a tuple.

In [53]:
lst = [10,20,30]
tup  = tuple(lst)
print(tup)
type(tup)

(10, 20, 30)

tuple

In [54]:
# 19. Join two tuples (1, 2) and (3, 4)

In [55]:
t1 = (1,2)
t2 = (3,4)

t3 = t1 + t2
print(t3)

(1, 2, 3, 4)

In [56]:
# 20. Repeat the tuple (1, 2, 3) three times.

In [57]:
t = (1,2,3)
result = t*3
print(result)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [58]:
# 21. Tuple unpacking: Unpack (100, 200, 300) into variables a, b, c.

In [59]:
t = (100,200,300)
a,b,c = t
print(a)
print(b)
print(c)

100
200
300

In [60]:
# 22. Nested tuple access: From t = ((1, 2), (3, 4), (5, 6)), print 6

In [62]:
t = ((1,2),(3,4),(5,6))
print(t[2][1])

6

In [63]:
# 23. Loop through a nested tuple and print all elements.

In [65]:
t = ((1,2),(3,4),(5,6))
for item in t:
    if isinstance(item,tuple):
        for sub_item in item:
            print(sub_item)
    else:
        print(item)

1
2
3
4
5
6

In [66]:
# 24. Create a tuple with a single element.

In [67]:
t = (7,)
print("Single element tuple:-",t)
type(t)

Single element tuple:- (7,)

tuple

In [68]:
# 25. Try to change the value of a tuple element and observe the error message.

In [69]:
t = (10,20,30)
t[1] = 50
print(t)

TypeError: 'tuple' object does not support item assignment

### List Practice Questions

In [1]:
# 1 Create a list of 5 integers and print it

In [2]:
l = [1,2,3,4,5]
print(l)
type(l)

[1, 2, 3, 4, 5]

list

In [3]:
# 2 Create a list containing different data types (int, string, float).

In [4]:
l = [1,2,3,'Jhon','Andrew',1.5,7.09]
print(l)
type(l)

[1, 2, 3, 'Jhon', 'Andrew', 1.5, 7.09]

list

In [5]:
# 3 Print the first element of the list [10, 20, 30, 40]

In [6]:
l = [10,20,30,40]
print(l[0])

10

In [7]:
# 4 Print the last element using negative indexing

In [8]:
l = [10,20,30,40,50]
print(l[-1])

50

In [9]:
# 5 Find the length of a list [1, 2, 3, 4, 5].

In [11]:
l = [10,20,30,40,50]
print(len(l))

5

In [12]:
# 6 Print all elements of a list using a for loop.

In [13]:
lst = [10,20,30,40,50,60,70,80,90]
for i in range(len(lst)):
    print(lst[i])

10
20
30
40
50
60
70
80
90

In [14]:
# 7 Print all elements using a while loop.

In [15]:
lst = [10,20,30,40,50,60,70,80,90]
i = 0 
while i < len(lst):
    print(lst[i])
    i = i+1

10
20
30
40
50
60
70
80
90

In [16]:
# 8 Access the third element in [5, 15, 25, 35].

In [17]:
lst = [5,15,25,35]
print(lst[2])

25

In [18]:
# 9 Check if 50 exists in [10, 20, 30, 40, 50].

In [21]:
lst = [10,20,30,40,50]
#if 50 in lst:
 #   print("50 exists in the list")
#else:
 #   print("50 does not exists in the list")

found = False
for i in range(len(lst)):
    if lst[i] == 50:
        found = True
        break

if found:
    print("50 exists in the list")
else:
    print("50 does not exist in the list")

50 exists in the list

In [22]:
# 10 Count how many times 2 appears in [1, 2, 3, 2, 4, 2].

In [25]:
lst = [1,2,3,2,4,2]
count = 0
for item in lst:
    if item == 2:
        count = count + 1

print("2 apper",count,"times")

2 apper 3 times

In [26]:
# 11 Add an element 100 to the end of a list.

In [28]:
lst =[10,20,30,40,50,60,70,80,90]
lst.append(100)
print(lst)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [29]:
# 12 Insert 15 at index 1 in [10, 20, 30]

In [31]:
lst = [10,20,30]
lst.insert(1,15)
print(lst)

[10, 15, 20, 30]

In [32]:
# 13 Remove element 20 from [10, 20, 30, 40]

In [34]:
lst = [10,20,30,40]
lst.remove(20)
print(lst)

[10, 30, 40]

In [35]:
# 14 Remove the last element using pop()

In [36]:
lst = [10,20,30,40,50]
lst.pop()
print(lst)

[10, 20, 30, 40]

In [37]:
# 15 Remove the element at index 2.

In [41]:
lst = [10,20,30,40,50]
remove=lst.pop(2)
print(lst)

[10, 20, 40, 50]

In [42]:
# 16 Reverse the list [1, 2, 3, 4].

In [43]:
lst = [1,2,3,4]
lst.reverse()
print(lst)

[4, 3, 2, 1]

In [44]:
# 17 Sort the list [5, 2, 8, 1] in ascending order

In [45]:
lst = [5,2,8,1]
lst.sort()
print(lst)

[1, 2, 5, 8]

In [46]:
# 18 Sort the same list in descending order.

In [47]:
lst = [5,2,8,1]
lst.sort(reverse=True)
print(lst)

[8, 5, 2, 1]

In [48]:
# 19 Find the maximum value in [10, 45, 2, 99, 23]

In [50]:
lst = [10,45,2,99,23]
print(max(lst))

99

In [51]:
# 20 Find the minimum value in the same list.

In [52]:
lst = [10,45,2,99,23]
print(min(lst))

2

In [53]:
# 21 Create a list of numbers from 1 to 10 using a loop.

In [54]:
lst = []
for i in range(1,11):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
# 22 Create a new list where each element of [10, 20, 30] is increased by 5.

In [57]:
lst = [10,20,30]
new_lst = []
for i in lst:
    new_lst.append(i+5)
print(new_lst)

[15, 25, 35]

In [58]:
# 23 Copy a list without using = operator.

In [59]:
lst = [10,20,30,40,50]
new_lst = lst.copy()
print(lst)
print(new_lst)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [60]:
# 24 Join two lists [1, 2] and [3, 4]

In [61]:
lst1 = [1,2]
lst2 = [3,4]
lst3 = lst1 + lst2
print(lst3)

[1, 2, 3, 4]

In [62]:
# 25 Repeat the list [1, 2, 3] three times.

In [63]:
lst = [10,20,30,40,50]
lst = lst*3
print(lst)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [64]:
# 26 Slice the list [10, 20, 30, 40, 50, 60] from index 1 to 4

In [65]:
lst = [10,20,30,40,50,60]
sliced_lst = lst[1:5]
print(sliced_lst)

[20, 30, 40, 50]

In [66]:
# 27 Print every second element using slicing

In [68]:
lst = [10,20,30,40,50,60]
sliced_lst=lst[::2]
print(sliced_lst)

[10, 30, 50]

In [70]:
# 28 Create a 2D list (matrix) and print element at row 2, column 1.

In [71]:
matrix = [
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
]
print(matrix[1][0])

40

In [72]:
# 29 Convert a string 'HELLO' into a list of characters.